* {
    font-family: "Raleway";
    margin: 0;
    padding: 0;
}
body {
    background-color: #f1f1f1;
    text-align: center;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar{
    display: none;
}
h1 {
    font-size: 36px;
    margin-top: 48px;
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
    margin-top: 9px;
    margin-bottom: 13px;
}
.myname-h2 {
    font-size: 20px;
}
h4 {
    padding: 0;
}
.h4-commants {
    color: white;
}

/*div*/

.TITLEHEADING,
.BLOGENTRY,
.MyName,
.PopularPosts,
.Tags {
    background-color: white;
    width: 95%;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 40px;

    box-shadow: 0 5px 20px #b3b3b3;
}
.MyName {
    padding-bottom: 5px;
}
.title-heading-div {
    padding-left: 18px;
    padding-right: 26px;
}
.Lo-Ip-Do {
    display: flex;
    padding: 16px;
}
.Lo-Ip-Do:hover {
    background-color: #c5c5c5;
}
.tags-list {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.Lo-Ip-Do-concret {
    margin-left: 17px;
}
.TITLE-BLOG-button-div {
    display: flex;
    justify-content: space-between;
}
.comments-zero {
    display: flex;
    align-items: center;
}
/*hr*/

hr {
    border: 0;
    border-top: 1px solid rgb(206, 206, 206);
}

/*img*/

img {
    width: 100%;
}
.lo-ip-do {
    width: 50px;
    height: 50px;
}

/*p*/
.main-p {
    margin-bottom: 60px;
}
p,
.main-p {
    font-size: 15px;
    line-height: 1.5;
}
p {
    margin-bottom: 15px;
}
.big-p {
    font-size: 18px;
    margin-bottom: 25px;
}
.tags-h-p,
.posts-h-p {
    font-size: 20px;
    background-color: #f1f1f1;
    padding: 20px 15px;
    margin: 0;
}

.Lo-Ip-Do p {
    padding: 0;
    margin: 0;
}
.h4-lorem-p {
    font-size: 18px;
}

/*span*/

span {
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
}
.span2 {
    color: gray;
    background-color: white;
    font-size: 18px;
}

/*button*/

button {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border: 1px solid lightgrey;
    font-size: 15px;
    padding: 15px 25px;
    background-color: white;
}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}
.Tags-button-main {
    background-color: black;
    color: white;
    padding: 3px 8px;
    margin: 0px 0px 16px;
    border: none;
}
.Tags-button {
    padding: 2px 8px;
    font-size: 12px;
    border: none;
    background-color: #f1f1f1;
    margin: 0px 0px 16px;
}
.zero-button,
.two-button {
    padding: 1px 8px;
    background-color: white;
    color: white;
    border: none;
    height: 25px;
    margin-left: 5px;
}
.two-button {
    border-radius: 50%;
}

.TITLEHEADING,
.BLOGENTRY, 
.MyName, 
.PopularPosts,
.Tags{
    margin: 40px auto;
}

/*footer*/

footer {
    background-color: #616161;
    text-align: left;
    width: 100%;
}
.footer-button-Previous {
    color: #848484;
    background-color: #444444;
    border: none;
    margin-left: 15px;
    margin-top: 30px;
}
.footer-button-Previous:hover {
    background-color: #848484;
    color: #444444;
    cursor: not-allowed;
}
.footer-button-Next {
    color: white;
    background-color: black;
    border: none;
}
.footer-button-Next:hover {
    color: black;
    background-color: lightgrey;
    cursor: pointer;
}
.footer-p {
    padding: 30px 0px 50px 15px;
    color: white;
    margin-bottom: 0;
}
a {
    color: white;
}

/* Media Queries */

@media only screen and (max-width: 990px) {
    .last {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .zero-button,
    .two-button {
        padding: 1px 8px;
        background-color: black;
        color: white;
        border: none;
        height: 25px;
        margin-left: 5px;
    }
    .two-button {
        border-radius: 50%;
    }
    .h4-commants {
        color: black;
    }
    
}
@media only screen and (min-width: 990px) {
    .main-div {
        display: flex;
    }

    .second-div {
        margin-right: 15px;
    }
}
