* {
    font-family: "Raleway";
}
body {
    background-color: #f1f1f1;
    text-align: center;
}
h1 {
    font-size: 36px;
    margin-top: 48px;
}
p {
    font-size: 15px;
}
span {
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
}
.TITLEHEADING {
    background-color: white;
    width: 95%;
    text-align: left;
}
img {
    width: 100%;
}
.big-p {
    font-size: 18px;
}
button {
    border: none;
    border: 1px solid grey;
}
